body {
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

a{
    color: white;
    text-decoration-line: none;
    font-size: 14px;
    display: inline-block;
    padding: 12px;
}

a:hover{
    color: #FF6565;
}

a:active{
    color: #FF6565;
}

main{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin-top: 300px;
}

main p {
    max-width: 700px;
    line-height: 1.6;
    text-align: center;
    font-weight: 10;
}

button {
    margin: 25px;
    border-radius: 16px;
    padding: 12px;
    background-color: #FF6565;
    color: white;
    font-size: 10px;
}

button:hover{
    opacity: 0.9;
}


