body {
  font-family: sans-serif;
  text-align: center;
  max-height: 75%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

main p{
  max-width: 600px;
  margin: 20px auto;
  text-align: center; 
  line-height: 1.6;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 900px;
  position: absolute;
  bottom: 130px;
}

