body { 
    font-family: sans-serif;
    justify-items: center;
}

h1 {
    margin-top: 100px;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 70px;
}

button {
    border-radius: 30px;
    padding: 2px;
    width: 150px;
    height: 50px;
    padding: 4px;
    background-color: #FF6565;
    color: white;
    align-self: center;
}

